<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Spring Boot WebSocket Chat Application</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>

<div class="content">

    <div class="private-chat">

        <div id="username-page">
            <div class="username-page-container">
                <h1 class="title">Type your username to enter the Chatroom</h1>
                <form id="usernameForm" name="usernameForm">
                    <div class="form-group">
                        <input type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="accent username-submit">Start Chatting</button>
                    </div>
                </form>
            </div>
        </div>


        <div id="chat-page" class="hidden">
            <div class="chat-container">
                <div class="chat-header">
                    <h2>Spring WebSocket Chat Demo By Dinh Lam</h2>
                </div>
                <div class="connecting">
                    Connecting...
                </div>
                <!--            khu vực hiển thị tin nhắn-->
                <ul id="messageArea">

                    <div id="chatListMess" th:attr="chat-list-mess=${ChatList}"></div>
                    <div id="chatListId1" th:attr="chat-list-id1=${ChatList1.getId()}"></div>
                    <div th:each="chat : ${ChatList1}">
                        <div th:each="message : ${chat.getMessages()}">
                            <div th:each="account: ${message.getAccount()}">

                                <div id="chatList" th:attr="chat-list=${chat}"></div>
                                <div id="chatListId" th:attr="chat-list-id=${chat.getId()}"></div>
                                <div id="chatListAcc1" th:attr="chat-list-acc1=${chat.getAccount1()}"></div>
                                <div id="chatListAcc2" th:attr="chat-list-acc2=${chat.getAccount2()}"></div>
                                <div id="chatListAcc1Id" th:attr="chat-list-acc1=${chat.getAccount1().getId()}"></div>
                                <div id="chatListAcc2Id" th:attr="chat-list-acc2=${chat.getAccount2().getId()}"></div>
                                <div id="chatListAcc1Name" th:attr="chat-list-acc1=${chat.getAccount1().getName()}"></div>
                                <div id="chatListAcc2Name" th:attr="chat-list-acc2=${chat.getAccount2().getName()}"></div>

                                <div id="chatListMess1" data-chat-message="${chat.getMessages()}"></div>


                                <p id="accountContainer"><span th:text="${account.getName()}"></span></p>

                                <h2 id="messageContainer" th:text="${message.getContent()}"></h2>

                                <div id="timestampContainer">
                                    <p id="timestamp" th:text="${message.getTimestamp()}"></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </ul>

                <form id="messageForm" name="messageForm">
                    <div class="form-group">
                        <div class="input-group clearfix">
                            <!--                        <div id="chatList" th:attr="chat-list=${ChatList}"></div>-->
                            <!--                        <div id="chatListId" th:attr="chat-list-id=${ChatList.getId()}"></div>-->
                            <!--                        <div id="chatListAcc1" th:attr="chat-list-acc1=${ChatList.getAccount1()}"></div>-->
                            <!--                        <div id="chatListAcc2" th:attr="chat-list-acc2=${ChatList.getAccount2()}"></div>-->
                            <!--                        <div id="chatListMess" th:attr="chat-list-mess=${ChatList.getMessages()}"></div>-->
                            <div id="senderAccountId" th:attr="data-sender-id=${SenderAccount1.getId()}"></div>
                            <div id="senderAccountName" th:attr="data-sender-name=${SenderAccount1.getName()}"></div>
                            <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                            <button type="submit" class="primary">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/main.js"></script>
<script>
    var currentTime = new Date().getTime();

    var targetTimeElement = document.getElementById("timestamp");

    var targetTime;
    if (targetTimeElement !== null) {
        targetTime = new Date(targetTimeElement.textContent).getTime();

        var timeElapsed = currentTime - targetTime;

        var secondsElapsed = Math.floor((timeElapsed / 1000) % 60);
        var minutesElapsed = Math.floor((timeElapsed / (1000 * 60)) % 60);
        var hoursElapsed = Math.floor((timeElapsed / (1000 * 60 * 60)) % 24);
        var daysElapsed = Math.floor(timeElapsed / (1000 * 60 * 60 * 24));

        var newTimestampElement = document.createElement("p");
        newTimestampElement.textContent = "Đã gửi: "+ daysElapsed + " ngày, "  + hoursElapsed + " giờ, " + minutesElapsed + " phút, " + secondsElapsed + " giây trước";

        var timestampContainer = document.getElementById("timestampContainer");
        timestampContainer.replaceChild(newTimestampElement, targetTimeElement);
    } else {
        targetTime = 0;
    }
</script>
</body>
</html>